body {
  margin: 0cm;
  padding: 0cm;
}

canvas {
  /* position: absolute; */
  /* top: -4cm;
  left: -4cm; */
  image-rendering: pixelated;
  padding: 0cm;
  margin: 0cm;
  display: block;
}

.grid-container {
  display: flex;
  width: min(80vw, 80vh);
  height: min(80vw, 80vh);
  /* column-gap: 0.5rem; */
  /* width: 100%; */
}

.btn-group-vertical {
  height: 3cm;
  width: 3cm;
}
